

.loginImg h1{
  padding-top: 100px;
  font-weight: bold;
  
}
.loginImg{
  margin-top: 40px;
  background-repeat: no-repeat;
 /* background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');*/
  height: 230px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
}
.loginArea{

  background-color: #EBEEF0;
  width: 70%;
  min-height: 700px;
  border-radius: 15px
  

}
.myForm{
  width: 50%;
  margin-top: 30px
}

.myFormRegister{
  width: 50%;
  margin-top: 20px
}

.btn-purple-moon {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}

.banner{
  height: 200px;
  background-repeat: no-repeat;
  /*opacity: 0.3;*/
}

.notificationbar{
  background-color: #EBEEF0;
  width: 25%;
  height:74%;
  position:absolute;
  right: 0px;
 

}
.lognotificationbar{
  background-color: #EBEEF0;
  width: 25%;
  height:90%;
  position:absolute;
  right: 0px;
}

.studentname{
  height:20px;
  margin-top:50px

}
/*.studentname h4{
  margin: 10px 0 0 170px
}*/

.buttonwrap{
  margin-top:120px;

}

.mainButton{
  width:150px;
  height:150px;
  border-radius: 10px;
  color:white;
  text-align: center;
}
.mainButton:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.donut{
  width:300px;
  height:300px;
  margin-top:-20px
}

.logInputs{
  width:60%;
  margin:40px 0 0 150px
}

.reportContainer{
  width:40%;
  background-color: #EBEEF0;
  height:350px;
  margin-top:155px;
  border-radius: 10px
}
.actionButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.modalStyle{
  width: 1200px
}

.studentsContainer{
  background-color: #EBEEF0;
  width: 50%;
  min-height: 400px;
  border-radius: 15px;
  text-align: center;
  color: #5C6560;
  margin-top:40px
}
.studentsContainerAS{
  background-color: #EBEEF0;
  width: 70%;
  min-height: 400px;
  border-radius: 15px;
  text-align: center;
  color: #5C6560;
  margin-top:40px
}
.btn-close{
  background-color: white;
}
.disabledButton:hover{
  cursor: not-allowed;
}

.moreDetailsLink{
  text-decoration: none;
  color:#EBEEF0
}
.moreDetailsLink:hover{
  text-decoration: underline;
  cursor: pointer;
}